<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="cfmlHandler" />
            <remove name="cfcHandler" />
            <remove name="cfrHandler" />
            <remove name="cfswfHandler" />
            <remove name="cfmHandler" />
            <add name="cfmHandler" path="*.cfm" verb="*" type="" modules="IsapiModule" scriptProcessor="C:\ColdFusion2021\config\wsconfig\1\isapi_redirect.dll" resourceType="Either" requireAccess="Script" allowPathInfo="false" preCondition="bitness64" responseBufferLimit="0" />
            <add name="cfswfHandler" path="*.cfswf" verb="*" type="" modules="IsapiModule" scriptProcessor="C:\ColdFusion2021\config\wsconfig\1\isapi_redirect.dll" resourceType="Either" requireAccess="Script" allowPathInfo="false" preCondition="bitness64" responseBufferLimit="0" />
            <add name="cfrHandler" path="*.cfr" verb="*" type="" modules="IsapiModule" scriptProcessor="C:\ColdFusion2021\config\wsconfig\1\isapi_redirect.dll" resourceType="Either" requireAccess="Script" allowPathInfo="false" preCondition="bitness64" responseBufferLimit="0" />
            <add name="cfcHandler" path="*.cfc" verb="*" type="" modules="IsapiModule" scriptProcessor="C:\ColdFusion2021\config\wsconfig\1\isapi_redirect.dll" resourceType="Either" requireAccess="Script" allowPathInfo="false" preCondition="bitness64" responseBufferLimit="0" />
            <add name="cfmlHandler" path="*.cfml" verb="*" type="" modules="IsapiModule" scriptProcessor="C:\ColdFusion2021\config\wsconfig\1\isapi_redirect.dll" resourceType="Either" requireAccess="Script" allowPathInfo="false" preCondition="bitness64" responseBufferLimit="0" />
        </handlers>
    </system.webServer>
</configuration>
